<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WSM.SynData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WSM.SynData.Properties.Settings>
      <setting name="timeloop" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="timeoff" serializeAs="String">
        <value>[{"tsBegin":"07:30:00","tsEnd":"08:30:00"},{"tsBegin":"16:30:00","tsEnd":"18:00:00"}]</value>
      </setting>
      <setting name="api" serializeAs="String">
        <value>https://wsm.framgia.vn/api/enroll_checks</value>
      </setting>
      <setting name="timekillthread" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="workspaces" serializeAs="String">
        <value>[{"local":2,"attMachineIp":"192.168.1.8","attMachinePort":4370,"attMachineType":1,"WorkingTime":{"tsBegin":"07:45:00","tsEnd":"16:45:00"},"lstEnrollAdv":["2"]}]</value>
      </setting>
    </WSM.SynData.Properties.Settings>
  </userSettings>
</configuration>